{% extends 'roleManager/base.html' %}
{% load static %}
{% block title%}درخواست سمت جدید{% endblock %}
{%block style%}
  <link href="{% static "roleManager/css/newRoleRequest.css" %}" rel="stylesheet"/>
{%endblock%}
{% block content %}

{% if currentUser_request.Status%}
<div>
  <p>{{currentUser_request.Message}}</p>
  <p>
    برای رفتن به صفحه درخواست اینجا کلیک کنید
    <a
      href="{% url 'RoleManager:showNewRoleRequest' currentUser_request.requestID %}"
      >درخواست</a
    >
  </p>
</div>
{%elif currentUser_request.Error%}
<div>
  <p>{{currentUser_request.Message}}</p>
</div>
{%else%}
<form id="roleRequestForm" action="" >
  <div id="pageContent">
    <!-- قسمت بالایی (عنوان سمت و اطلاعات تکمیلی) -->
    <div id="topSection">
      <!-- بخش عنوان سمت و مدیر مربوطه -->
      <div id="topSection_rightSide">
        <div id="roleTitleInputContainer" class="flexRowContainer">
          <img class="headerIcon" src="{% static 'roleManager/images/Icons/NewRoleRequest/role_title_icon.png'%}" alt="Role Title Icon">
          <p class="headerTitle">عنوان سمت :</p>
          <input id="roleTitleInput" type="text" placeholder="عنوان سمت را وارد کنید">
        </div>

        <div id="roleTypeContainer" class="flexRowContainer">
          <div id="roleType_title" class="flexRowContainer">
            <img class="headerIcon" src="{% static 'roleManager/images/Icons/NewRoleRequest/role_type_icon.png' %}" alt="Role Type Icon">
            <p class="headerTitle">نوع سمت :</p>
          </div>

          <div id="roleType_icons" class="flexRowContainer">
            <div>
              <img class="circleIcon roleTypeIcons" isClicked="false" data-code="A" data-staticAddress="{% static 'roleManager/images/Icons/NewRoleRequest' %}" data-iconName="auditor" src="{% static 'roleManager/images/Icons/NewRoleRequest/auditor_default_icon.png' %}" alt="Auditor Icon">
              <input type="radio" name="roleType" id="">              
              <p>تحلیل گران</p>
            </div>
            <div>
              <img class="circleIcon roleTypeIcons" isClicked="false" data-code="P" data-staticAddress="{% static 'roleManager/images/Icons/NewRoleRequest' %}" data-iconName="programmer" src="{% static 'roleManager/images/Icons/NewRoleRequest/programmer_default_icon.png' %}" alt="Programmer Icon">
              <input type="radio" name="roleType" id="">              
              <p>برنامه نویسان</p>
            </div>
            <div>
              <img class="circleIcon roleTypeIcons" isClicked="false" data-code="T" data-staticAddress="{% static 'roleManager/images/Icons/NewRoleRequest' %}" data-iconName="tester" src="{% static 'roleManager/images/Icons/NewRoleRequest/tester_default_icon.png' %}" alt="Tester Icon">
              <input type="radio" name="roleType" id="">              
              <p>تستر ها</p>
            </div>
            <div>
              <img class="circleIcon roleTypeIcons" isClicked="false" data-code="S" data-staticAddress="{% static 'roleManager/images/Icons/NewRoleRequest' %}" data-iconName="support" src="{% static 'roleManager/images/Icons/NewRoleRequest/support_default_icon.png' %}" alt="Support Icon">
              <input type="radio" name="roleType" id="">              
              <p>پشتیبان</p>
            </div>
            <div>
              <img class="circleIcon roleTypeIcons" isClicked="false" data-code="M" data-staticAddress="{% static 'roleManager/images/Icons/NewRoleRequest' %}" data-iconName="manager" src="{% static 'roleManager/images/Icons/NewRoleRequest/manager_default_icon.png' %}" alt="Manager Icon">
              <input type="radio" name="roleType" id="">              
              <p>مدیران</p>
            </div>
            <div>
              <img class="circleIcon roleTypeIcons" isClicked="false" data-code="O" id="otherRoleTypeIcon" data-staticAddress="{% static 'roleManager/images/Icons/NewRoleRequest' %}" data-iconName="other" src="{% static 'roleManager/images/Icons/NewRoleRequest/other_default_icon.png' %}" alt="Other Icon">
              <input type="radio" name="roleType" id="">              
              <p>سایرین</p>
            </div>
          </div>
        </div>

        <div id="roleTypeInputContainer" class="flexRowContainer">
          <img class="headerIcon" src="{% static 'roleManager/images/Icons/NewRoleRequest/role_type_icon.png' %}" alt="Role Title Icon">
          <p class="headerTitle">نوع سمت جدید :</p>
          <input id="roleTypeTitleInput" isVisible="false" type="text" placeholder="عنوان نوع سمت را وارد کنید">
        </div>


      </div>
      <!-- بخش اطلاعات تکمیلی -->
      <div id="topSection_leftSide">
        <div id="selectManagerContainer" class="flexRowContainer">
          <div id="selectManagerTitle" class="flexRowContainer">
            <img class="headerIcon" src="{% static 'roleManager/images/Icons/NewRoleRequest/manager_icon.png'%}" alt="Manager Icon">
            <p class="headerTitle">مدیر مربوطه :</p>
          </div>
          <div id="relevantManager_icons" class="flexRowContainer">
            <div>
              <img class="circleIcon relevantManagerIcon" isClicked="false" data-staticAddress="{% static 'roleManager/images/Icons/NewRoleRequest' %}" data-iconName="testing" src="{% static 'roleManager/images/Icons/NewRoleRequest/testing_default_icon.png' %}" alt="Tester Manager Icon">
              <p>مدیر تست</p>
              <input type="radio" name="relevantManager" id="">              
            </div>
            <div>
              <img class="circleIcon relevantManagerIcon" isClicked="false" data-staticAddress="{% static 'roleManager/images/Icons/NewRoleRequest' %}" data-iconName="operator" src="{% static 'roleManager/images/Icons/NewRoleRequest/operator_default_icon.png' %}" alt="Operator Manager Icon">
              <p>مدیر پشتیبانی</p>
              <input type="radio" name="relevantManager" id="">              
            </div>
            <div>
              <img class="circleIcon relevantManagerIcon" isClicked="false" data-staticAddress="{% static 'roleManager/images/Icons/NewRoleRequest' %}" data-iconName="management" src="{% static 'roleManager/images/Icons/NewRoleRequest/management_default_icon.png' %}" alt="Public Manager Icon">
              <p>مدیر عمومی تیم</p>
              <input type="radio" name="relevantManager" id="">              
            </div>
          </div>
        </div>

        <div id="headerContainer" class="flexRowContainer">
          <img class="headerIcon" src="{% static 'roleManager/images/Icons/NewRoleRequest/information_icon.png'%}" alt="Information Icon">
          <p class="headerTitle">اطلاعات تکمیلی :</p>
        </div>

        <div id="radioButton_gridContainer">
          <!-- ردیف ۱: ارشد دارد -->
          <div><p class="subHeaderTitle radioHeader">ارشد دارد</p></div>
          <div id="radioButtonContainer">
              <img
              id="hasSuperior_yes_image" 
              class="subHeaderCheckIcon" 
              src="{% static 'roleManager/images/Icons/NewRoleRequest/check_default_icon.png'%}" 
              alt="Has Superior Yes Icon"
              data-clicked="{% static 'roleManager/images/Icons/NewRoleRequest/check_clicked_icon.png'%}"
              data-default="{% static 'roleManager/images/Icons/NewRoleRequest/check_default_icon.png'%}">
              <input type="radio" name="hasSuperior" id="hasSuperior_yes_input">
              <p class="subHeaderTitle">بله</p>
          </div>

          <div id="radioButtonContainer">
              <img 
              id="hasSuperior_no_image" 
              class="subHeaderDeclineIcon" 
              src="{% static 'roleManager/images/Icons/NewRoleRequest/decline_clicked_icon.png'%}" 
              alt="hasSuperior_no_input"
              data-clicked="{% static 'roleManager/images/Icons/NewRoleRequest/decline_clicked_icon.png'%}"
              data-default="{% static 'roleManager/images/Icons/NewRoleRequest/decline_default_icon.png'%}">
              <input type="radio" name="hasSuperior" id="hasSuperior_no_input" checked>
              <p class="subHeaderTitle">خیر</p>
          </div>
  
        
          <!-- ردیف ۲: سطح بندی دارد -->
          <div><p class="subHeaderTitle radioHeader">سطح بندی دارد</p></div>
          <div id="radioButtonContainer">
              <img 
              id="hasLevel_yes_image" 
              class="subHeaderCheckIcon" 
              src="{% static 'roleManager/images/Icons/NewRoleRequest/check_default_icon.png'%}" 
              alt="Has Level Yes Icon"
              data-clicked="{% static 'roleManager/images/Icons/NewRoleRequest/check_clicked_icon.png'%}"
              data-default="{% static 'roleManager/images/Icons/NewRoleRequest/check_default_icon.png'%}">
              <input id="hasLevel_yes_input" type="radio" name="hasLevel">
              <p class="subHeaderTitle">بله</p>
          </div>
          <div id="radioButtonContainer">
              <img 
              id="hasLevel_no_image" 
              class="subHeaderDeclineIcon" 
              src="{% static 'roleManager/images/Icons/NewRoleRequest/decline_clicked_icon.png'%}" 
              alt="Has Level No Icon"
              data-clicked="{% static 'roleManager/images/Icons/NewRoleRequest/decline_clicked_icon.png'%}"
              data-default="{% static 'roleManager/images/Icons/NewRoleRequest/decline_default_icon.png'%}">
              <input id="hasLevel_no_input" type="radio" name="hasLevel" checked>
              <p class="subHeaderTitle">خیر</p>
          </div>
  
        </div>
      </div>

      <!-- بخش انتخاب کردن تیم  -->
      <!-- این بخش در وسط صفحه قرار دارد ولی برای جاگیری بهتر در این بخش قرار میگیرد-->
      <div id="middleSection_topSide">
        <img src="{% static 'roleManager/images/Icons/NewRoleRequest/team_title_icon.png'%}" alt="Team Title Icon" >
        <p class="headerTitle">تیم ها :</p>
        <select class="form-control select2" id="teamSelect">
          <option></option>
          {% for team in teams %}
            <option data-image-src="{% static 'roleManager/images/TeamIcon/'%}" teamCode="{{ team.TeamCode }}">{{ team.TeamName }}</option>
          {% endfor %}
        </select>
        <div id="topSide_button">
          <i class="fa-solid fa-plus"></i>
          <p class="subHeaderTitle">اضافه کردن تیم</p>
        </div>
      </div>
    </div>
  
    <!-- قسمت وسط بخش تیم ها و اضافه کردن آن  -->
    <div id="middleSection">
      <!-- بخش نشان دادن تیم های انتخاب شده -->
      <div id="showSelectedTeam_gridContainer">
      </div>
  
    </div>
    
    <!-- قسمت پایین (شرایط احراز، شرح شغل) -->
     <div id="bottomSection">
       <!-- بخش شرایط احراز -->
       <div>
         <div class="bottomSection_headerContainer">
           <img class="headerIcon" src="{% static 'roleManager/images/Icons/NewRoleRequest/contract_icon.png'%}" alt="Qualification Icon">
           <p class="headerTitle">شرایط احراز :</p>
           <input type="text" class="bottomSection_input" id="conditionsInput">
           <div class="bottomSection_plusContainer" id="conditionsPlusIcon">
            <i class="fa-solid fa-plus"></i>
           </div>
         </div>
         <div class="bottomSection_textArea">
         </div>
       </div>
       <div>
         <div class="bottomSection_headerContainer">
           <img class="headerIcon" src="{% static 'roleManager/images/Icons/NewRoleRequest/contract_icon.png'%}" alt="Job Description Icon">
           <p class="headerTitle">شرح شغل :</p>
           <input type="text" class="bottomSection_input" id="dutiesInput">
           <div class="bottomSection_plusContainer" id="dutiesPlusIcon">
            <i class="fa-solid fa-plus"></i>
           </div>
         </div>
         <div class="bottomSection_textArea">
         </div>
  
       </div>
     </div>
  
    <!-- آخرین قسمت (بخش دکمه ساخت سمت جدید) -->
    <div id="finalSection">
      <button id="submitButton" type="submit">ساخت سمت جدید</button>
    </div>
  </div>
</form>
<script src="{% static 'roleManager/js/newRoleRequest.js'%}"></script>
{%endif%}
{% endblock %}