{% extends 'roleManager/base.html' %}
{% load static %}
{% block title%}فناوران{% endblock %}
{%block style%}
    <link href="{% static "roleManager/css/SetTeamAllowedRoleRequestStyle.css" %}" rel="stylesheet"/>
{%endblock%}
{% block content %}
{% if currentUser_request.Status%}
    <div>
        <p>{{currentUser_request.Message}}</p>
        <p>برای رفتن به صفحه درخواست اینجا کلیک کنید <a href="{% url 'RoleManager:showSetTeamAllowedRoleRequest' currentUser_request.requestID %}">درخواست</a></p>
    </div>
{%elif currentUser_request.Error%}
    <div>
        <p>{{currentUser_request.Message}}</p>
    </div>
{%else%}
<form>
  <div style="direction: ltr">
    <input type="submit" id="submitBtn" value="شروع فرآیند" />
  </div>
  <table>
    <thead>
      <tr id="table_header">
        <th id="role_team_header">
          <small id="role_text">سمت</small>
          <small id="team_text">تیم</small>
        </th>
        <th id="teamBtn">
          <select id="teamDropdown">
            {% for team in Teams %}
            <option></option>
            <option data-id="{{ team.TeamCode }}">{{ team.TeamName }}</option>
            {% endfor %}
          </select>
        </th>
      </tr>
    </thead>
    <tbody id="tbody">
      <tr id="roleBtn">
        <td>
          <select id="roleDropdown">
            {% for role in Roles %}
            <option></option>
            <option data-id="{{ role.RoleId }}">{{ role.RoleName }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</form>

<script>
  const allowedTeam = JSON.parse("{{ allowedTeam|escapejs }}");
  const teamNames = JSON.parse("{{ teamNames|escapejs }}");
  const roleNames = JSON.parse("{{ roleNames|escapejs }}"); 
  //for plus buttons
  $(document).ready(function () {
    $("#roleDropdown").select2({
      placeholder: "یک گزینه انتخاب کنید",
    });
    $("#teamDropdown").select2({
      placeholder: "یک گزینه انتخاب کنید",
    });
  });

    //form setting
      $(document).ready(function () {
        $("form").on("submit", function (event) {
            event.preventDefault();
        });
        $("#submitBtn").on("click", function (event) {
        let formData = [];
        $("input[modified='true']").each(function () {
            let teamCode = $(this).attr("teamCode");
            let roleId = $(this).attr("roleId");
            let value = $(this).val();
            let prevValue = $(this).attr("prevValue");

            let team = formData.find((val) => val.TeamCode === teamCode);

            if (!team) {
            formData.push({
                TeamCode: teamCode,
                Roles: [
                { RoleId: roleId, RoleCount: value, PrevRoleCount: prevValue },
                ],
            });
            } else {
            team.Roles.push({
                RoleId: roleId,
                RoleCount: value,
                PrevRoleCount: prevValue,
            });
            }
        });

        $.ajax({
            url: window.location.href,
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(formData),
            headers: {
            "X-CSRFToken": $("meta[name='csrf_holder']").attr("content"),
            "Content-Type": "application/json",
            },
            success: function(response) {
            let error = response.Error;
            $.confirm({
                title: error ? "❌ خطا" : "✅ موفقیت",
                content: response.Message,
                type: error ? "red" : "green",
                theme: "modern",
                columnClass: "medium",
                boxWidth: "400px",
                useBootstrap: false,
                buttons: {
                ok: {
                    text: "باشه",
                    btnClass: error ? "btn-red" : "btn-green",
                    action:function(){
                        window.location.reload()
                    }
                },
                },
            });
            },
            error: function (error) {
            $.confirm({
                title: "❌ خطا در ارتباط",
                content: "خطایی در ارتباط با سرور رخ داده است.",
                type: "red",
                theme: "modern",
                columnClass: "medium",
                boxWidth: "400px",
                useBootstrap: false,
                buttons: {
                ok: {
                    text: "باشه",
                    btnClass: "btn-red",
                },
                },
            });
            },
        });
        });
    });

    //for input and text in allowedParent
    $(document).ready(function () {
        $(document).on("mouseenter", "#allowedParent", function () {
        var currentBg = $(this).css("background-color");
        if (!$(this).data("bgColor")) {
            $(this).data("bgColor", currentBg);
        }
        var darkerBg = darkenColor(currentBg, 10);
        $(this).css("background-color", darkerBg);
        });

        $(document).on("mouseleave", "#allowedParent", function () {
        $(this).css("background-color", $(this).data("bgColor"));
        });

        $(document).on("focus", "#allowedParent input", function () {
        let darkerBg = darkenColor($(this).css("background-color"), 50);
        $(this).css("box-shadow", "inset 0 0 5px " + darkerBg);
        });
        $(document).on("blur", "#allowedParent input", function () {
        $(this).css("box-shadow", "none");
        if ($(this).val() == "") {
            const parent = $("div#allowedParent").has(
            `input[teamCode= ${$(this).attr("teamCode")}][roleId=${$(this).attr(
                "roleId"
            )}]`
            );
            $(this).attr("modified", false);
            checkModified();
            if ($(this).attr("prevValue") == 0) {
            $(this)
                .val($(this).attr("prevValue"))
                .css("background-color", "#bfbfbf");
            $(parent).find("small").css("display", "none");
            $(parent)
                .css("background-color", "#c3cbd9")
                .data("bgColor", "#c3cbd9");
            if (isLightColor($(this).css("background-color"))) {
                $(this).css("color", "black");
            } else {
                $(this).css("color", "white");
            }
            } else {
            $(this)
                .val($(this).attr("prevValue"))
                .css("background-color", "#9EDDFF");
            $(parent).find("small").css("display", "none");
            $(parent)
                .css("background-color", "#6EACDA")
                .data("bgColor", "#6EACDA");
            if (isLightColor($(this).css("background-color"))) {
                $(this).css("color", "black");
            } else {
                $(this).css("color", "white");
            }
            }
        }
        if ($(this).val() == 0) {
            $(this).val(0);
        }
        });

        $(document).on("input", "#allowedParent input", function () {
        if ($(this).val() != $(this).attr("prevValue")) {
            $(this).attr("modified", true);
            const parent = $("div#allowedParent").has(
            `input[teamCode= ${$(this).attr("teamCode")}][roleId=${$(this).attr(
                "roleId"
            )}]`
            );
            $(this).css("background-color", "#348144");
            $(parent).css("background-color", "#4E9F3D").data("bgColor", "#4E9F3D");
            $(parent).find("small").css("display", "block");
            if (isLightColor($(this).css("background-color"))) {
            $(this).css("color", "black");
            $(parent).find("small").css("color", "black");
            } else {
            $(this).css("color", "white");
            $(parent).find("small").css("color", "white");
            }
            checkModified();
        } else {
            $(this).attr("modified", false);
            const parent = $("div#allowedParent").has(
            `input[teamCode= ${$(this).attr("teamCode")}][roleId=${$(this).attr(
                "roleId"
            )}]`
            );
            if ($(this).attr("prevValue") == 0) {
            $(this)
                .val($(this).attr("prevValue"))
                .css("background-color", "#bfbfbf");
            $(parent).find("small").css("display", "none");
            $(parent)
                .css("background-color", "#c3cbd9")
                .data("bgColor", "#c3cbd9");
            if (isLightColor($(this).css("background-color"))) {
                $(this).css("color", "black");
            } else {
                $(this).css("color", "white");
            }
            } else {
            $(this)
                .val($(this).attr("prevValue"))
                .css("background-color", "#9EDDFF");
            $(parent).find("small").css("display", "none");
            $(parent)
                .css("background-color", "#6EACDA")
                .data("bgColor", "#6EACDA");
            if (isLightColor($(this).css("background-color"))) {
                $(this).css("color", "black");
            } else {
                $(this).css("color", "white");
            }
            }
            checkModified();
        }
        if ($(this).val() < 0) {
            $(this).val(0);
        } else if ($(this).val() > 100) {
            $(this).val(100);
        }
        });
    });

    //for delete header and row and plus rows for team, plus teams for row
    $(document).ready(function () {
        $(document).on("click", "#delTeam", function () {
        const teamCode = $(this).attr("teamCode");
        const teamName = $(`th[teamCode=${teamCode}] p`).text();

        $(`th[teamCode=${teamCode}]`).remove();
        $(`td[teamCode=${teamCode}]`).remove();

        var newOption = $("<option>", {
            text: teamName,
            data: {
            id: teamCode,
            },
        });

        $("#teamDropdown").prepend(newOption).trigger("change");
        });
        $(document).on("click", "#delRole", function () {
        const roleID = $(this).attr("roleID");
        const roleName = $(`tr[roleID=${roleID}] p`).text();

        var newOption = $("<option>", {
            text: roleName,
            data: {
            id: roleID,
            },
        });
        $(`tr[roleID = ${roleID}]`).remove();
        $("#roleDropdown").prepend(newOption).trigger("change");
        });
        $(document).on("click", "#plusRole_forTeam", function () {
        const teamCode = $(this).attr("teamCode");
        });
    });

    //select2
    $(document).ready(function () {
        $("#teamDropdown").on("select2:select", function (event) {
            newHeader = createHeader();
            
            if (!checkDuplicate("#table_header", "teamCode", newHeader.attr("teamCode"), "تیم")) {
                let teamCode = newHeader.attr("teamCode");
                
                // اضافه کردن سلول‌ها
                if ($("#tbody").children().length - 1) {
                    for (let i = 0; i <= $("#tbody").children().length - 1; i++) {
                        let roleId = $($("#tbody").children()[i]).attr("roleId");
                        let finder = allowedTeam.find(obj => obj.TeamCode === teamCode && obj.RoleId == roleId);
                        
                        if (finder) {
                            $(`tr[roleId="${roleId}"]`).append(createAllowedCell(teamCode, roleId, finder));
                        }
                    }
                }
                $("#teamBtn").before(newHeader);

                // حذف آیتم از select2
                $("#teamDropdown option:selected").remove();
            }
        });

        $("#roleDropdown").on("select2:select", function (event) {
            newRow = createRow();
            
            if (!checkDuplicate("#tbody", "roleID", newRow.attr("roleID"), "سمت")) {
                let roleId = newRow.attr("roleId");
                
                // اضافه کردن سلول‌ها
                if ($("#table_header").children().length - 2) {
                    for (let i = 1; i <= $("#table_header").children().length - 2; i++) {
                        let teamCode = $($("#table_header").children()[i]).attr("teamCode");
                        let finder = allowedTeam.find(obj => obj.TeamCode === teamCode && obj.RoleId == roleId);
                        newRow.append(createAllowedCell(teamCode, roleId, finder));
                    }
                }
                $("#roleBtn").before(newRow);

                // حذف آیتم از select2
                $("#roleDropdown option:selected").remove();
            }
        });
    });

    function darkenColor(color, amount) {
        var col = color.match(/\d+/g);
        var r = Math.min(255, parseInt(col[0]) - amount);
        var g = Math.min(255, parseInt(col[1]) - amount);
        var b = Math.min(255, parseInt(col[2]) - amount);
        return "rgb(" + r + "," + g + "," + b + ")";
    }
    function isLightColor(color) {
        var rgb = color.match(/^rgba?\((\d+), (\d+), (\d+)/);

        if (rgb) {
        var r = parseInt(rgb[1]);
        var g = parseInt(rgb[2]);
        var b = parseInt(rgb[3]);
        var brightness = 0.2126 * r + 0.7152 * g + 0.0722 * b;

        return brightness > 128;
        }
        return false;
    }
    function checkModified() {
        let allUnmodified = true;

        $("#allowedParent input").each(function () {
        if ($(this).attr("modified") === "true") {
            allUnmodified = false;
            return false;
        } else {
            allUnmodified = true;
        }
        });
        if (!allUnmodified) {
        $("#submitBtn").slideDown("slow");
        } else {
        $("#submitBtn").slideUp("slow");
        }
    }

    // این بخش برای ایجاد یک تیم جدید و یک سمت جدید استفاده میشود
    function createHeader(teamCode = "None", headerTxt = "None") {
        const newHeader = $("<th>").attr(
        "teamCode",
        teamCode === "None" ? $("#teamDropdown option:selected").data("id") : teamCode
        );

        const allFather = $("<div>").attr("class", "team_header");
        const parentAbove = $("<div>").attr("class", "headerAboveSide");
        const aboveSideButtons = $("<div>").attr("class", "aboveSideButtons");
        const parentBelow = $("<div>").attr("class", "headerBelowSide");

        const headerText = $("<p>").text(headerTxt === "None" ? $("#teamDropdown").val() : headerTxt);
        const headerImage = $("<img>")
        .attr({
            alt: "TH img",
            src:`{% static 'roleManager/images/TeamIcon'%}/${$("#teamDropdown option:selected").data("id")}.png`,
        })
        .css("width", "50px");
        const show_all_image = $("<img>").attr({
            "src": "{% static 'roleManager/images/Icons/show_default.png' %}",
            "alt": "Show All Roles For This Team."
        })
        const show_all_button = $("<button>")
        .attr({
            id: "delTeam",
            teamCode: teamCode === "None" ? $("#teamDropdown option:selected").data("id") : teamCode,
        });
        const delete_all_image = $("<img>").attr({
            "src": "{% static 'roleManager/images/Icons/delete_default.png' %}",
            "alt": "Delete All Roles For This Team."
        })
        const delete_all_button = $("<button>")
        .attr({
            id: "plusRole_forTeam",
            teamCode: teamCode === "None" ? $("#teamDropdown option:selected").data("id") : teamCode,
        });

        delete_all_button.append(delete_all_image)
        show_all_button.append(show_all_image)
        aboveSideButtons.append(show_all_button, delete_all_button);
        parentAbove.append(headerImage, aboveSideButtons);
        parentBelow.append(headerText);

        allFather.append(parentAbove, parentBelow);
        newHeader.append(allFather);
        return newHeader;
    }
    function createRow(roleId = "None", rowTxt = "None") {
        const newRowLine = $("<tr>").attr(
        "roleID",
        roleId === "None" ? $("#roleDropdown option:selected").data("id") : roleId
        );
        const newRow = $("<td>");

        const rowAllFather = $("<div>").attr("class", "rowAllFather");
        const rowAboveSide = $("<div>").attr("class", "rowAboveSide");
        const rowBelowSide = $("<div>").attr("class", "rowBelowSide");
        const show_all_btn = $("<button>")
        .attr({
            id: "plusTeam_forRole",
            roleID: roleId === "None" ? $("#roleDropdown option:selected").data("id") : roleId,
        })
        .text("+");
        const aboveSideMinusButton = $("<button>")
        .attr({
            id: "delRole",
            roleID: roleId === "None" ? $("#roleDropdown option:selected").data("id") : roleId,
        })
        .text("-");
        const rowText = $("<p>").text(rowTxt === "None" ? $("#roleDropdown").val() : rowTxt);

        rowAboveSide.append(show_all_btn, aboveSideMinusButton);
        rowBelowSide.append(rowText);
        rowAllFather.append(rowAboveSide, rowBelowSide);
        newRow.append(rowAllFather);
        newRowLine.append(newRow);
        return newRowLine;
    }

    // تابع مشترک برای چک کردن تکراری بودن و نمایش خطا
    function checkDuplicate(selector, attrName, value, type) {
        let isDuplicated =
        $(selector)
            .children()
            .filter(function () {
            return $(this).attr(attrName) === value;
            }).length > 0;

        if (isDuplicated) {
        $.confirm({
            title: `❌ خطا در اضافه کردن ${type}`,
            content: `شما نمیتوانید ${type} تکراری اضافه کنید.`,
            type: "red",
            theme: "modern",
            columnClass: "medium",
            boxWidth: "400px",
            useBootstrap: false,
            buttons: {
            ok: {
                text: "باشه",
                btnClass: "btn-red",
            },
            },
        });
        }
        return isDuplicated;
    }

    // تابع مشترک برای ساخت سلول جدید با اطلاعات مجوز
    function createAllowedCell(teamCode, roleId, finder) {
        const newData = $("<td>").attr("teamCode", teamCode);

        if (finder) {
        const newDiv = $("<div>")
            .attr("id", "allowedParent")
            .css(
            "background-color",
            finder.AllowedRoleCount == 0 ? "#c3cbd9" : "#6EACDA"
            );

        const newInp = $("<input>")
            .attr({
            type: "number",
            value: finder.AllowedRoleCount,
            prevValue: finder.AllowedRoleCount,
            modified: false,
            teamCode: teamCode,
            roleId: roleId,
            min: 0,
            max: 100,
            })
            .css(
            "background-color",
            finder.AllowedRoleCount == 0 ? "#bfbfbf" : "#9EDDFF"
            );

        newDiv
            .append(
            $("<img>").attr("src", "{%static 'roleManager/images/person_icon.png'%}")
            )
            .append(newInp)
            .append($("<small>").text(finder.AllowedRoleCount));

        newData.append(newDiv);
        } else {
        newData.text("مقداری یافت نشد");
        }

        return newData;
    }

    function addAllowedRolesForTeam(teamCode) {
        const allowedRoles = allowedTeam.filter(item => 
            item.TeamCode === teamCode && 
            item.AllowedRoleCount > 0
        );

        allowedRoles.forEach(data => {
            if (!$(`tr[roleId="${data.RoleId}"]`).length) {
                newRow = createRow(data.RoleId, roleNames.find(item => item.RoleId == data.RoleId).RoleName);
                
                if ($("#table_header").children().length - 2) {
                    for (let i = 1; i <= $("#table_header").children().length - 2; i++) {
                        let currentTeamCode = $($("#table_header").children()[i]).attr("teamCode");
                        let finder = allowedTeam.find(obj => 
                            obj.TeamCode === currentTeamCode && 
                            obj.RoleId == data.RoleId
                        );
                        newRow.append(createAllowedCell(currentTeamCode, data.RoleId, finder));
                    }
                }
                
                $("#roleBtn").before(newRow);
                
                // حذف سمت از roleDropdown
                $("#roleDropdown").find(`option[data-id="${data.RoleId}"]`).remove();
                $("#roleDropdown").trigger('change');
            }
        });
    }

    $(document).on("click", "#plusRole_forTeam", function() {
        const teamCode = $(this).attr('teamCode');
        
        if (teamCode) {
            addAllowedRolesForTeam(teamCode);
        } else {
            $.confirm({
                title: '❌ خطا',
                content: 'کد تیم یافت نشد.',
                type: 'red',
                theme: 'modern',
                columnClass: 'medium',
                boxWidth: '400px',
                useBootstrap: false,
                buttons: {
                    ok: {
                        text: 'باشه',
                        btnClass: 'btn-red'
                    }
                }
            });
        }
    });

    function addAllowedTeamsForRole(roleId) {

        const allowedTeams = allowedTeam.filter(item => 
            item.RoleId == roleId && 
            item.AllowedRoleCount > 0
        );

        allowedTeams.forEach(data => {
            if (!$(`th[teamCode="${data.TeamCode}"]`).length) {
                newHeader = createHeader(data.TeamCode, teamNames.find(item => item.TeamCode == data.TeamCode).TeamName);
                
                // اضافه کردن سلول‌ها برای همه سمت‌های موجود
                if ($("#tbody").children().length - 1) {
                    for (let i = 0; i <= $("#tbody").children().length - 1; i++) {
                        let currentRoleId = $($("#tbody").children()[i]).attr("roleId");
                        let finder = allowedTeam.find(obj => 
                            obj.TeamCode === data.TeamCode && 
                            obj.RoleId == currentRoleId
                        );
                        if (finder) {
                            $(`tr[roleId="${currentRoleId}"]`).append(createAllowedCell(data.TeamCode, currentRoleId, finder));
                        }
                    }
                }
                
                $("#teamBtn").before(newHeader);
                
                // حذف تیم از teamDropdown
                $("#teamDropdown").find(`option[data-id="${data.TeamCode}"]`).remove();
                $("#teamDropdown").trigger('change');
            }
        });
    }

    // اضافه کردن event listener برای دکمه plusTeam_forRole
    $(document).on("click", "#plusTeam_forRole", function() {
        const roleId = $(this).attr('roleId');
        
        if (roleId) {
            addAllowedTeamsForRole(roleId);
        } else {
            $.confirm({
                title: '❌ خطا',
                content: 'کد سمت یافت نشد.',
                type: 'red',
                theme: 'modern',
                columnClass: 'medium',
                boxWidth: '400px',
                useBootstrap: false,
                buttons: {
                    ok: {
                        text: 'باشه',
                        btnClass: 'btn-red'
                    }
                }
            });
        }
    });
</script>
{%endif%}

{% endblock %}
